
<div >
  <button type="button" class="btn btn-success " data-bs-toggle="modal" data-bs-target="#updateProductModal" (click)="openUpdateProductModal(0)">
    + Add new product
  </button>
</div >
<div >

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Update product</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filterCategory | filter: searchKey : 'title'" >
          <th><img class="table_image" src="{{item.image}}" alt=""></th>
          <td>{{item.title}}</td>
          <td><button class="btn btn-danger" (click)=deleteProduct(item)>Delete</button></td>
          <td>{{item.price}}</td>
          <td>
            <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#updateProductModal" (click)="openUpdateProductModal(item)">
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="updateProductModal"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Product Update</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="updateProductForm" (ngSubmit)="onSubmitUpdateProductForm()">
            <div class="form-group">
              <label for="product_title" class="col-form-label">Title:</label>
              <input type="text" class="form-control" id="product_title" >
            </div>
            <div class="form-group">
              <label for="product_description" class="col-form-label">Description:</label>
              <textarea class="form-control" id="product_description"></textarea>
            </div>
            <div class="form-group">
              <label for="product_price" class="col-form-label">Price:</label>
              <input type="text"  formControlName="price" class="form-control" id="product_price">
            </div>

          <button type="submit" class="btn btn-primary">Save</button>
          </form>

        </div>
        <div class="modal-footer">

          <button  type="button"  class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

